<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="objectSerializer" class="com.jd.jim.cli.serializer.DefaultObjectSerializer">
        <!-- 超过此值，setObject命令会压缩value  -->
        <constructor-arg value="16384"></constructor-arg>
    </bean>

    <!-- 国外站 以印尼为例-->
    <bean id="configClient"
          class="com.jd.jim.cli.config.client.ConfigLongPollingClientFactoryBean">
        <property name="serviceEndpoint" value="http://cfs.jim.jd.local"></property>
        <!-- http连接的建连超时时间和请求超时时间(单位是毫秒),不配置或配置时间小于5分钟的话走默认5分钟->用来拉取集群的元数据信息和客户端的配置信息 -->
        <property name="serviceTimeout" value="10000"></property>

    </bean>

    <bean id="jimClient" class="com.jd.jim.cli.ReloadableJimClientFactoryBean">
        <property name="configClient" ref="configClient"></property>
        <property name="jimUrl" value="jim://2914179041246144323/110000253"/>
        <property name="ioThreadPoolSize" value="2"/>
        <property name="objectSerializer" ref="objectSerializer"/>
    </bean>

</beans>
